* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    position: fixed;
}

#container {
    height: 100vh;
    width: 100vw;
    background: url("../images/bk.gif") no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#save {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    padding: 0;
}

#message {
    background-size: 100%;
    width: 65.1589vw;
    height: 65.1589vw;
    position: absolute;
    top: 28.93206vh;
    left: 6.93vw;
}

#hyperlink {
    display: block;
    top: 26.5vw;
    left: 26.5vw;
    width: 32.1589vw;
    height: 32.1589vw;
    position: absolute;
    z-index: 99;
}
